*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  --bg: #e0e0e0;
  --primary: #000814;
  --secondary: #001d3d;
  --highlight: #ffd60a;
  --higlight-secondary: #ffc300;
  --text-color: #0e0e0e;
  --text-color-inverted: #e0e0e0;
}

:root {
  font-family: sans-serif;
  font-size: 1rem;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}
h1 {
  font-size: 1.5rem;
}
h1:first-of-type {
  align-self: flex-end;
}
nav > ul {
  /* Container */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
nav > ul > li > a {
  color: var(--text-color-inverted);
}
nav > ul > li > a:visited {
  color: var(--highlight);
}
nav > ul > li {
  display: flex;
  flex: 1 1 300px;
  list-style: none;
  background-color: var(--primary);
}
