/* Verwenden Sie für diese Aufgabe das vollständige und korrekte HTML-Dokument der ersten ESA.

Schreiben Sie ein neues Stylesheet:

Nehmen Sie alle Grundeinstellungen gemäß best practices vor.
Die Navigation gestalten Sie responsive mit dem Grid-Modul.
Die Navigation ist immer am oberen Bildschirmrand sichtbar.
Die articles bzw. sections ordnen Sie mit dem Grid-Modul an,
verwenden Sie benannte areas.
Die Anordnung bestimmen Sie selbst.
Laden Sie einen zip-file hoch. */

* {
  --bg: #e0e0e0;
  --primary: #000814;
  --secondary: #001d3d;
  --highlight: #ffd60a;
  --higlight-secondary: #ffc300;
  --text-color: #0e0e0e;
  --text-color-inverted: #e0e0e0;
}
@media (prefers-color-scheme: dark) {
  * {
    --bg: #0e0e0e;
    --primary: #004bbb;
    --secondary: #494949;
    --highlight: #ffd60a;
    --higlight-secondary: #ffc300;
    --text-color: #e0e0e0;
    --text-color-inverted: #0e0e0e;
  }
}
html {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--bg);
}
body {
  padding: 0;
  margin: 0;
}
article:nth-child(even) {
  color: var(--text-color-inverted);
  background-color: var(--primary);
  font-size: larger;
}
article:nth-child(odd) {
  color: var(--text-color-inverted);
  background-color: var(--secondary);
  font-size: smaller;
}
img {
  max-width: 100%;
  min-width: 100%;
}
nav {
  width: 100%;
  position: sticky;
  top: 0;
  margin-top: 0;
  align-content: center;
  background-color: var(--secondary);
}
ul {
  margin: 0;
  z-index: 1000;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.sub-article > h3 {
  grid-area: "article_head";
}

.sub-article > img {
  grid-area: "article_image";
}
.sub-article > p {
  grid-area: "article";
}
.sub-article {
  display: grid;
  grid-template-areas:
    "article_head . ."
    ". article_image ."
    "article article article";
}
